/*-------- Custom styling----------*/
#hero:before {

    background: #d51c60;
 
}

#header.header-scrolled{
    background: #d51c60;
}
.navbar .dropdown ul a{
    color: #477bb6;
}

#hero .btn-get-started{
    background: #477bb6;
    display: table;
}

.back-to-top{
    background: #477bb6;
}

.wa {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #29b53f;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  margin-bottom: 45px;
}
.wa i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.wa:hover {
  background: #2be4a2;
  color: #fff;
}
.wa.active {
  visibility: visible;
  opacity: 1;
}

#hero h1 span{
    border-bottom:4px solid #477bb6;
}
.navbar > ul > li > a:before{
    background-color: #477bb6;
}
.about .icon-boxes h3{
    color: #d51c60;
}
.section-title h2::after{
    background: #477bb6;
}
.section-title p{
    color: #d51c60;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #477bb6;
}

.testimonials::before{
    background: rgba(213,28,96,.8);
}
.faq .faq-list a.collapsed:hover{
    color: #477bb6;
}
a.collapse{
    color: #477bb6;
}
a{
    color: #477bb6;
}
a:hover{
    color: #477bb6;
}
.section h3 {
    color: #d51c60;
}

.sectiontitle h3 {
    font-size: 28px;
    font-weight: 700;
    color: #d51c60;
    margin-bottom: 15px
}
.contact .info h4{
    color: #d51c60;

}
.contact .info p{
    color: #477bb6;

}
.contact .info i{
    color: #477bb6;
}
#footer{
    background: #d51c60;
}
#footer .footer-top .footer-info{
    background: #b50344;
    border-top: 4px solid #477bb6;
}
#footer .footer-top .footer-newsletter form input[type=submit]{
    background: #477bb6;
}
h3{

    font-weight: bolder;
}
#footer .copyright{
    border-top:1px solid #477bb6;
}
.contact .contact-email-form {
    width: 100%;
    background: #fff;
  }
  .contact .contact-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact .contact-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .contact .contact-email-form .error-message br + br {
    margin-top: 25px;
  }
  .contact .contact-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .contact-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact .contact-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .contact-email-form input, .contact .contact-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .contact-email-form input {
    height: 44px;
  }
  .contact .contact-email-form textarea {
    padding: 10px 12px;
  }
  .contact .contact-email-form button[type=submit] {
    background: #477bb6;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .contact .contact-email-form button[type=submit]:hover {
    background: #34e5a6;
  }
  /* // */
.enroll-email-form {
    width: 100%;
    background: #fff;
  }
.enroll-email-form .form-group {
    padding-bottom: 8px;
  }
.enroll-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
.enroll-email-form .error-message br + br {
    margin-top: 25px;
  }
.enroll-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
.enroll-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
.enroll-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
.enroll-email-form input, .enroll-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
.enroll-email-form input {
    height: 44px;
  }
.enroll-email-form textarea {
    padding: 10px 12px;
  }
.enroll-email-form button[type=submit] {
    background: #477bb6;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
.enroll-email-form button[type=submit]:hover {
    background: #34e5a6;
  }

/*-----Mobile View-----*/


.navbar-mobile{
    background: rgba(213,28,96,.8);

}